* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #010138;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #020257;
    width: 100%;
    height: 100px;
}

#header_text {
    width: 100%;
    height: 350px;
    margin: 20px 0 5px 0;
    text-align: center;
    background: url(assets/music-background.svg) no-repeat;
    background-size: 320px 320px;
    background-position: bottom;
    
}

#header_text h2 {
    font-size: 30px;
}

#search {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
}

#search input {
    border-radius: 5px 0 0 5px;
    width: 35%;
    min-width: 220px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 10px;
    transition: width 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

#search span {
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    text-align: center;
    border: none;
    width: 70px;
    padding: 10px;
    background-color: #2E2EFF;
    transition: 200ms;
}

#search span:hover {
    background-color: #1212f3
}

#search input:focus {
    width: 60%;
}

.slider {
    display: none;
    background-color: #000049;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.controllers {
    width: 100%;
    text-align: center;
}

 .controllers span {
    cursor: pointer;
    width: 60px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    margin: 5px;
    background-color: #2E2EFF;

    transition: 200ms;
}

 .controllers span:hover {
    background-color: #1212f3;
    transform: scale(1.1);
}


.slider .musics {
    display: inline-flex;
    padding: 5px;
}

.slider .musics .card {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    flex-direction: column;
    background-color: #010133;
    margin: 15px 5px;
    margin-left: 20px;
    padding: 10px;
    width: 280px;
    height: 400px;

    transition: 200ms;
}

.slider .musics .card audio {
    width: 90%;
    min-width: 230px;
    height: 40px;
    margin: 10px 0 0 0;
    min-width: 250px;
    outline: none;
}

.slider .musics .card a {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: #2E2EFF;

    transition: 200ms;
}

.slider .musics .card a:hover {
    background-color: #1212f3;
}

.slider .musics .card img {
    width: 80%;
    image-rendering: pixelated;
    border: 2px solid white;
}

.slider .musics .card:hover {
    transform: translateY(-5%);
}



.slider .musics .card .singer {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0;
}

@media (max-width: 860px) {
    .controllers {
        display: none;
    }

    .slider {
        width: 95%;
        overflow-x: auto;
    }
}
